@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, "sans-serif";
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.content {
  min-height: 100vh;
  background-image: linear-gradient(#14c9cb, #08b3ef);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 2fr;
  gap: 15px;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-left: 16%;
}
.wrapper {
  position: relative;
}
input {
  height: 24px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  border-bottom: solid 1px rgb(221, 221, 221);
  color: rgb(221, 221, 221);
  padding-left: 10px;
  font-size: 16px;
}
.empty {
  height: 0px;
  padding: 0px;
  font-size: 0px;
}
.active {
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  color: rgb(221, 221, 221);
}

input::placeholder {
  color: rgba(221, 221, 221, 0.8);
}

button {
  height: 24px;
  width: 32px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
button span:hover {
  color: #08b3ef;
}
button span {
  color: rgb(221, 221, 221);
}
.weather-info-section-one {
  padding-left: 20%;
  padding-top: 20px;
}
.weather-summary {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}
.weather-summary-section-one {
  display: flex;
  gap: 5px;
}
.date-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.today {
  color: rgb(221, 221, 221);
  font-size: 24px;
  font-weight: bold;
}
.todays-date {
  font-size: 16px;
  color: rgba(221, 221, 221, 0.8);
}
.icon-section img {
  height: 80px;
  width: auto;
}
.temp-section {
  display: flex;
  align-items: center;
}
.temp-degrees {
  font-size: 72px;
  font-weight: bold;
  color: rgb(221, 221, 221);
  padding: 10px 30px;
}
.location-section {
  display: flex;
  gap: 5px;
  align-items: end;
}
.location-section span,
.actual-location {
  font-size: 24px;
  color: rgb(221, 221, 221);
}
.actual-location {
  font-weight: bold;
}
.weather-info-section-two {
  display: flex;
  padding-right: 8%;
  padding-left: 8%;
}
.weather-details-container {
  border-top: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 1% 5%;
  display: grid;
  grid-template-rows: 80px 1fr;
  gap: 5px;
}
.weather-details-title {
  font-size: 24px;
  color: rgb(221, 221, 221);
}
.divs-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  /* padding-top: 4%; */
}
.divs-container .wind,
.divs-container .humidity,
.divs-container .feels-like,
.divs-container .visibility {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 16px;
  background-color: rgba(253, 249, 249, 0.7);
  border: none;
  border-radius: 3px;
}
.wind-info,
.humidity-info,
.feels-like-info,
.visibility-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}
.wind-title,
.humidity-title,
.feels-like-title,
.visibility-title {
  font-size: 16px;
  color: gray;
}
.wind-mph,
.humidity-percentage,
.feels-like-deg,
.visibility-km {
  font-size: 24px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}
.wind-icon,
.humidity-icon,
.feels-like-icon,
.visibility-icon {
  padding-left: 24px;
  /* width: 100%; */
  display: flex;
  justify-content: end;
}
.wind-icon span,
.humidity-icon span,
.feels-like-icon span,
.visibility-icon span {
  font-size: 32px;
}
.remove-loader {
  position: absolute;
  pointer-events: none;
  top: 30%;
  left: 45%;
  opacity: 0;
  width: 0px;
  height: 0px;
}
.loader {
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 45%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #eaf0f6;
  border-top: 20px solid rgb(39, 39, 39);
  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
